@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Syne", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1738788101 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 10;
}

.custom-shape-divider-bottom-1738788101 svg {
  position: relative;
  display: block;
  width: calc(100% + 1px);
  height: 51px;
}

.custom-shape-divider-bottom-1738788101 .shape-fill {
  fill: #FFFFFF;
}
